
<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Notificar avistamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div>
      <ion-row no padding>
        <ion-col size="6" offset="3">
          <img [src]="image" alt="No hay imagen seleccionada" style="max-width:50%;"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-input type="file" accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)"></ion-input>
        </ion-col>
      </ion-row>
    </div>
  
    <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-item>
        <ion-label position="floating" color="primary">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Fecha</ion-label>
        <ion-input type="text" formControlName="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Comentario</ion-label>
        <ion-input type="text" formControlName="comentario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Especie</ion-label>
        <ion-input type="text" formControlName="especie"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Coordenadas</ion-label>
        <ion-input type="text" value="{{coords}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Lugar</ion-label>
        <ion-input type="text" formControlName="lugar" value="{{address}}"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col text-start padding-top>
          <ion-title>Mapa</ion-title>
        </ion-col>
        <ion-col text-end>
          <ion-button (click)="loadMap()" shape="round" fill="outline">
            <ion-icon slot="start" name="locate"></ion-icon>
            Obtener ubicación actual
          </ion-button>
        </ion-col>
      </ion-row>
      <div class="map-wrapper">
        <div id="map_center">
          <img src="./assets/icon/map_marker.png" />
        </div>
        <div #map id="map"></div>
      </div>

  
      <ion-button expand="block" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Notificar Avistamiento</ion-button>
  
      
    </form>
  
  </ion-card>
  </ion-content>
