<ion-header>
  <ion-toolbar color="succes shade" class="ios ion-color ion-color-success hydrated">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Actualizar especie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <div>
    <ion-row>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="No hay imagen seleccionada"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Cambiar Imagen</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Familia</ion-label>
      <ion-input type="text" formControlName="familia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Orden</ion-label>
      <ion-input type="text" formControlName="orden"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Especie</ion-label>
      <ion-input type="text" formControlName="especie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">CITES</ion-label>
      <ion-input type="text" formControlName="cites"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">LEA</ion-label>
      <ion-input type="text" formControlName="lea"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">UICN</ion-label>
      <ion-input type="text" formControlName="uicn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Distribución estacional</ion-label>
      <ion-input type="text" formControlName="distEstacional"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Descripción</ion-label>
      <ion-input type="text" formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Ecología</ion-label>
      <ion-input type="text" formControlName="ecologia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Hábitat</ion-label>
      <ion-input type="text" formControlName="habitat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Distribución</ion-label>
      <ion-input type="text" formControlName="distribucion"></ion-input>
    </ion-item>
    <ion-button class="submit-button" expand="block" color="primary tint" type="submit" [disabled]="!validations_form.valid">Guardar</ion-button>
  </form>
  <ion-button class="delete-button" expand="block" color="danger" (click)="delete()">Eliminar</ion-button>
</ion-card>
</ion-content>
