<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Especie</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-card *ngIf="item">
    <ion-card-header>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
      <ion-card-subtitle><i>{{item.especie}}</i></ion-card-subtitle>
    </ion-card-header>
    
    <ion-img class="especie" src="{{item.imagen}}"></ion-img>
    <!--
    <ion-img class="fig" src="./assets/img/apendice_1.png"></ion-img>
    <ion-img class="fig" src="./assets/img/apendice_1.png"></ion-img>
    <ion-img class="fig" src="./assets/img/apendice_1.png"></ion-img>
      -->
    <ion-card-content>
      
      <ion-row align-items-center>

          <ion-col text-center >
          <ion-button class="ion-color bot1 ios button button-solid ion-activatable ion-focusable hydrated" color="#A5CD39">
              {{item.distEstacional}}
          </ion-button>
          </ion-col>

          <ion-col text-center >
            <ion-button class="ion-color bot4 ios button button-solid ion-activatable ion-focusable hydrated" color="#985277">
              {{item.lea}}
            </ion-button>
          </ion-col>

          <ion-col text-center >
          <ion-button class="ion-color bot2 ios button button-solid ion-activatable ion-focusable hydrated" color="#00B9BC">
              {{item.cites}}
          </ion-button>
          </ion-col>

          <ion-col text-center >
          <ion-button class="ion-color bot3 ios button button-solid ion-activatable ion-focusable hydrated" color="#E91C23">
              {{item.uicn}}
          </ion-button>  
          </ion-col>
          
      </ion-row>
    
      <h2>Descripción</h2>
      <p>{{item.descripcion}}</p>
      <br>
      <h2>Ecología</h2>
      <p>{{item.ecologia}}</p>
      <br>
      <h2>Habitat</h2>
      <p>{{item.habitat}}</p>
      <br>
      <h2>Distribución</h2>
      <ul>
      <p>{{item.distribucion}}</p>
      </ul>
      <ion-button fill="clear" slot="end" [routerLink]="['/actualizar-especie', item.id]">
        Actualizar
      </ion-button>
    </ion-card-content>
  </ion-card>

   
</ion-content>