<ion-header>
  <ion-toolbar color="succes" class="ios ion-color ion-color-success hydrated">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="primary">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/arnpg-ad4d0.appspot.com/o/41278101.jpg?alt=media&token=66bb7462-d451-475c-b809-2212af5219b1"></ion-img>
      <ion-card-header>
        <ion-card-subtitle><i>Trogon caligatus</i></ion-card-subtitle>
        <ion-card-title>Trogón enligado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cabeza de color negro con collar violeta en la nuca. Aro amarillo alrededor del ojo. Parte dorsal del cuerpo de color negro y ventral de color amarillo brillante. Presenta una mancha negra den el pecho. Las alas y la cola presentan barras negras y blancas. (Fagan & Komar, 2016)</p>
      </ion-card-content>
    </ion-card>
