<ion-header>
  <ion-toolbar color="succes" class="ios ion-color ion-color-success hydrated">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="primary">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" style="height:100% !important">
        <ion-slide>
          <ion-content class="bg-class">
            <ion-grid style="margin: auto; height: 100%;">
              <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-grid>
                  <ion-row justify-content-center align-items-center>
                    <h2>¿Quienes somos?</h2>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-img class="ion-padding" src="./assets/img/logo.png"></ion-img>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <p>La ARNPG es una asoción muy cool.</p>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content class="bg-class">
            <ion-grid style="margin: auto; height: 100%;">
              <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-grid>
                  <ion-row justify-content-center align-items-center>
                    <h2>¿Quienes somos?</h2>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-img class="ion-padding" src="./assets/img/logo.png"></ion-img>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <p>La ARNPG es una asoción muy cool.</p>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content class="bg-class">
            <ion-grid style="margin: auto; height: 100%;">
              <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-grid>
                  <ion-row justify-content-center align-items-center>
                    <h2>¿Quienes somos?</h2>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-img class="ion-padding" src="./assets/img/logo.png"></ion-img>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <p>La ARNPG es una asoción muy cool.</p>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-slide>
      </ion-slides>
 
</ion-content>

