<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Ingresar especie</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<ion-card>
  <div>
    <ion-row no padding>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="No hay imagen seleccionada"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-input type="file" accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)"></ion-input>
      </ion-col>
    </ion-row>
  </div>

  <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Familia</ion-label>
      <ion-input type="text" formControlName="familia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Orden</ion-label>
      <ion-input type="text" formControlName="orden"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Especie</ion-label>
      <ion-input type="text" formControlName="especie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">CITES</ion-label>
      <ion-select placeholder="Seleccione uno" formControlName="cites">
        <ion-select-option value="I">I</ion-select-option>
        <ion-select-option value="II">II</ion-select-option>
        <ion-select-option value="III">III</ion-select-option>
        <ion-select-option value="X">X</ion-select-option>
        <ion-select-option value="-">-</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">LEA</ion-label>
        <ion-select placeholder="Seleccione uno" formControlName="lea">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="X">X</ion-select-option>
          <ion-select-option value="-">-</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">UICN</ion-label>
        <ion-select placeholder="Seleccione uno" formControlName="uicn">
          <ion-select-option value="LC">LC</ion-select-option>
          <ion-select-option value="VU">VU</ion-select-option>
          <ion-select-option value="EN">EN</ion-select-option>
          <ion-select-option value="CR">CR</ion-select-option>
          <ion-select-option value="DD">DD</ion-select-option>
          <ion-select-option value="-">-</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="primary">Distribución Estacional</ion-label>
        <ion-select placeholder="Seleccione uno" formControlName="distEstacional">
          <ion-select-option value="R">R</ion-select-option>
          <ion-select-option value="M">M</ion-select-option>
          <ion-select-option value="T">T</ion-select-option>
          <ion-select-option value="ER">ER</ion-select-option>
          <ion-select-option value="-">-</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Descripción</ion-label>
      <ion-input type="text" formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Ecología</ion-label>
      <ion-input type="text" formControlName="ecologia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Hábitat</ion-label>
      <ion-input type="text" formControlName="habitat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Distribución</ion-label>
      <ion-input type="text" formControlName="distribucion"></ion-input>
    </ion-item>

    <ion-button expand="block" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Agregar Especie</ion-button>

    
  </form>

</ion-card>
</ion-content>


