<ion-header>
  <ion-toolbar color="succes" class="ios ion-color ion-color-success hydrated">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Especie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <ion-card-header>
          <ion-card-title>Trogón enligado</ion-card-title>
          <ion-card-subtitle><i>Trogon caligatus</i></ion-card-subtitle>
      </ion-card-header>
      <ion-img class="ion-padding-horizontal" src="https://firebasestorage.googleapis.com/v0/b/arnpg-ad4d0.appspot.com/o/41278101.jpg?alt=media&token=66bb7462-d451-475c-b809-2212af5219b1"></ion-img>
      
      <ion-card-content>
        <h2>Descripción</h2>
        <p>Cabeza de color negro con collar violeta en la nuca. Aro amarillo alrededor del ojo. Parte dorsal del cuerpo de color negro y ventral de color amarillo brillante. Presenta una mancha negra den el pecho. Las alas y la cola presentan barras negras y blancas. (Fagan & Komar, 2016)</p>
        <br>
        <h2>Ecología</h2>
        <p>Anida en hoyos dentro de troncos, nidos viejos de avispas o termitas. Se alimentan principalmente de frutos e insectos. (Howell y Webb, 1995)</p>
        <br>
        <h2>Habitat</h2>
        <p>Bosques húmedos a semiáridos, borde de bosques, plantaciones y mangles. (Fagan & Komar, 2016)</p>
        <br>
        <h2>Distribución</h2>
        <ul>
          <li>Hasta los 1,8500 msnm</li>
          <li>México a Ecuador (Fagan y Komar, 2016)</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>
