<ion-header>
  <ion-toolbar color="succes" class="ios ion-color ion-color-success hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Especie</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src={{item.imagen}}></ion-img>
    <ion-card-header>
      <ion-card-subtitle><i>{{item.especie}}</i></ion-card-subtitle>
      <ion-card-title>{{item.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{item.descripcion}}</ion-card-content>
    <ion-button fill="clear" slot="end" [routerLink]="['/actualizar-especie', item.id]">
      Actualizar
    </ion-button>
  </ion-card>

   
</ion-content>

