<ion-header>
    <ion-toolbar color="succes" class="ios ion-color ion-color-success hydrated">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      
      <ion-title>Especie</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        <ion-card-subtitle><i>{{item.especie}}</i></ion-card-subtitle>
      </ion-card-header>
      <ion-img class="ion-padding-horizontal" src={{item.imagen}}></ion-img>
      <ion-card-content>
        <h2>Descripción</h2>
        <p>{{item.descripcion}}</p>
        <br>
        <h2>Ecología</h2>
        <p>{{item.ecologia}}</p>
        <br>
        <h2>Habitat</h2>
        <p>{{item.habitat}}</p>
        <br>
        <h2>Distribución</h2>
        <p>{{item.distribucion}}</p>
        <ion-button fill="clear" slot="end" [routerLink]="['/actualizar-especie', item.id]">
          Actualizar
        </ion-button>
      </ion-card-content>
    </ion-card>
  
     
  </ion-content>
  
  