<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>ARNPG</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containar">
    <div>
      <img src="https://www.naturalist.co.uk/images/product/latin_america_guatemala_banner_mobile.jpg">
      <img class="logo" src="./assets/img/logo.png">
    </div>
    <div>
      <p class="info">Somos una ONG sin fines de lucro cuyo objetivo es contribuir a mejorar el manejo de recursos naturales de Guatemala a través de desarrollo sustentable.</p>
        
    </div>
  </div>
  
</ion-content>

