<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Dashboard</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" style="height:100% !important">
      <ion-slide>
        <ion-content class="bg-class">
          <ion-grid style="margin: auto; height: 100%;">
            <ion-row justify-content-center align-items-center style='height: 100%'>
              <ion-grid>
                <ion-row justify-content-center align-items-center>
                  <h2>¿Qué puedes esperar de esta app?</h2>
                </ion-row>
                <ion-row justify-content-center align-items-center>
                  <ion-img class="ion-padding" src="./assets/img/animal.png"></ion-img>
                </ion-row>
                <ion-row justify-content-center align-items-center>
                  <p>En esta app encontrarás un catálogo de especies que se encuentran en Guatemala. Para cada especie, podrás ver su información detallada y una imagen que te puede ayudar a ubicarla fácilmente.</p>
                </ion-row>
              </ion-grid>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ion-slide>
        <ion-slide>
          <ion-content class="bg-class">
            <ion-grid style="margin: auto; height: 100%;">
              <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-grid>
                  <ion-row justify-content-center align-items-center>
                    <h2>¿Quiénes somos?</h2>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-img class="ion-padding" src="./assets/img/logo.png"></ion-img>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <p>Somos una ONG sin fines de lucro cuyo objetivo es contribuir a mejorar el manejo de recursos naturales de Guatemala a través de desarrollo sustentable.</p>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-slide>
        
        <ion-slide>
          <ion-content class="bg-class">
            <ion-grid style="margin: auto; height: 100%;">
              <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-grid>
                  <ion-row justify-content-center align-items-center>
                    <h2>Información de contacto</h2>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-img class="ion-padding" src="./assets/img/contacto.png"></ion-img>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <p>Teléfonos: (502) 2421-3761, (502) 2421-3700 ext. 265</p>
                    <p>E-mail: consultas@reservasdeguatemala.org</p>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ion-slide>
      </ion-slides>
 
</ion-content>

