.card {
  padding-top: 2.5em;
}

img.banner {
  z-index: -1;
  object-fit: cover;
}
#banners {
  top: 10px;
  display: grid;
  grid-template-rows: 580px 580px 580px;
  grid-row-gap: 10px;
  align-content: center;

}
.container {
  display: grid;
  grid-template-rows: 20% 20% 20%;

}

img.logo {
  position: absolute;
  display: block;
  top: 0%;
  opacity: 0.8;
  z-index: 1;
  margin-left: 25%;
  width: 50%;
}

.info {
  position: relative;
}