<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Avistamientos</ion-title>

    <ion-buttons slot="primary">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchControl showCancelButton cancelButtonText="Custom Cancel" (ionInput)="filterItems($event.target.value)"></ion-searchbar>
    <ion-item *ngFor="let item of items" (click)='clearResults();' [routerLink]="['/avistamiento', item.payload.doc.id]">
      <ion-thumbnail>
        <img src="{{item.payload.doc.data().multimedia}}">
      </ion-thumbnail>
    <ion-label>{{item.payload.doc.data().nombre}}</ion-label>
  </ion-item>

</ion-content>
