// http://ionicframework.com/docs/theming/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar{
    --background: linear-gradient(to right,#eaaa00 ,#fe5000 );
}
ion-toolbar > ion-title{
    font-size: 25px;
    font-display: center;
    //font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //color: rgb(80,80,80);
}

ion-content{
    //--background: url("./assets/img/textura2.png");
    //--background: url("./assets/img/textura2.png") no-reapeat center center fixed;
}

/*
#especie{
    position: relative;
    width: 80%;
    height: 100%;
}

#fig{
    position: relative;
    height: 100%;
    width: 20%;
}

*/